/*estilos universales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: belanosima, sans-serif;
    color: #eff5f5;
}

p{
    font-family: poppins, sans-serif;
}

h2{
    text-align: center;
}

/*fin de estilos universales*/

/*estilo barra navegadora*/
.navresponsive_container{
display: none;
}

.nav{
    background-color: #00425a;
    position: fixed;
    width: 100%;
}

.nav_ul_li{
    display: inline-block;
    padding: 10px;
}

.nav_ul_li i{
    width: 20px;
    color: #FC7300;
}

.nav_ul_li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #FC7300;
}
/*Fin estilo barra navegadora*/
/*estilo section*/

section{
    background-color: #00425a;
}
/*Fin estilo section*/
/*estilo footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F8A70;
}

footer article{
    width: 30%;
}
.redes_sociales ul li a{
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

.redes_sociales ul li a:hover{
    color: #FC7300;
}
/*Fin estilo footer*/



@media only screen and (max-width: 768px){
.nav_ul{
    display: none;
}
.navresponsive_container{
    display: block;
    position: absolute;
    width: 100%;
}
.navresponsive_buttom{
    float: right;
    font-size: 25px;
    padding: 6px 20px;
}
.navresponsive_ul_li i{
    color: #FC7300;
}
}